/*
===============================
STYLES DE VOTRE THEME ICI 
===============================
*/


/* Colors */
$colorTxt: #222;
$colorLink: blue;


body{
    color: $colorTxt;
}

a{
    color: $colorLink;
}